
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/SairaCondensedBold.ttf"); font-family : "Saira Condensed"; font-weight : 700;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/SairaCondensedRegular.ttf"); font-family : "Saira Condensed"; font-weight : 400;  }